<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{actor.name}} Movies</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
</head>

<body>
  <section class="gallery-block cards-gallery">
    <div class="container">
      <div class="heading">
        <h2 class="actormovies">{{actor.name}} Movies</h2>
      </div>
      <div *ngFor="let movie of actor.movies">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="card border-0">
              <div style="margin-top:30px;">
                <div class="row">
                  <div class="col-lg-3">
                    <a class="lightbox" href="{{movie.trailerURL}}" target="_blank">
                      <img src="{{movie.posterURL}}" alt="Card Image" class="card-img-top" style="margin-left:30px; margin-bottom:30px;">
                    </a>
                  </div>
                  <div class="col-lg-8">
                    <div class="card-body">
                      <h2 class="moviename">{{movie.name}}</h2><br>
                      <div class="row justify-content-center">
                        <div class="col-lg-5">
                          <h6 class="releasedate">Release Date: {{movie.releasedate}}</h6>
                        </div>
                        <br>
                        <br>
                        <div class="col-lg-12 justify-content-center">
                          <a href="{{movie.trailerURL}}" target="_blank">
                            <button class="button button2">Watch {{movie.name}} Trailer</button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
