
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <br>
      <h1 class="searchtitle">Search Movies</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <form>
        <div class="row">
          <div class="col-9">
            <input type="text" class="form-control" placeholder="Search Movies" name="movie" [(ngModel)]="movie">
          </div>
          <div class="col-3">
            <button  class="button" (click)="searchMovies()">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>




  <section class="gallery-block cards-gallery">
    <div class="container">
      <div class="heading">
      </div>
      <div *ngFor="let movie of search_result; let i = index">
        <div *ngIf="i < 9">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="card border-0">
                <div style="margin-top:30px;">
                  <div class="row">
                    <div class="col-lg-3">

                      <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="{{ movie.original_title }} Poster Image" class="card-img-top" style="margin-left:30px; margin-bottom:30px;">

                    </div>
                    <div class="col-lg-8">
                      <div class="card-body">
                        <h2 class="moviename">{{ movie.original_title }}</h2><br>
                        <div class="row justify-content-center">
                          <div class="col-lg-2">
                            </div>
                            <div class="col-lg-4">
<h6 class="releasedate"> Rating: {{movie.vote_average}}/10</h6>
                          </div>
                          <div class="col-lg-1">
                            </div>
                          <div class="col-lg-5">
                            <h6 class="releasedate"> Release Date: {{ movie.release_date | date:'mediumDate':'yyyy' }}</h6>
                          </div>
                          <br><br>


                          <div class="col-lg-2">
                          </div>
                          <div class="col-lg-3">
                            <h6 class="releasedate">Summary:</h6>
                          </div>
                          <div class="col-lg-7 justify-content-left">
                            <p align="left" style="float:right; color:black; ">
                               {{ movie.overview }}
                            </p>
                          </div>









                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>












  <router-outlet></router-outlet>
