<div class="row">
  <div class="col-sm-12 mt-5">
    <h3>Search a Movie</h3>
    <form (submit)="searchMovie()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search a movie here" name="searchStr" [(ngModel)]="searchStr">
      </div>
      <button class="btn btn-info">Find Movie</button>
      </form>
  </div>
</div>

<div *ngIf="searchStr">
  <div class="row">
    <div class="col-sm-3" *ngFor="let movie of searchresult; let i = index">
      <div *ngIf="i < 8">
      <div class="card mt-2 mb-2">
        <div class="card-header text-center">
          {{ movie.release_date | date:'yyyy' }}
        </div>
        <div class="card-body">
          <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="{{ movie.title }}" class="img-fluid">
          <p class="text-center mt-2">
            {{ movie.title }}
          </p>
          <a href="#" class="btn btn-block btn-info mt-2" routerLink="/movie/{{movie.id}}">
            View Details
          </a>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<hr>

<!-- Upcoming Movies -->
<div class="row">
  <div class="col-sm-12">
    <h3>Upcoming Movies</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-3" *ngFor="let upcoming of upcoming_movies; let i = index">
    <div *ngIf="i < 8">
    <div class="card mt-2 mb-2">
      <div class="card-header text-center align-middle">
        {{ upcoming.release_date | date:'dd-MM-yyyy' }}
      </div>
      <div class="card-body">
        <img src="https://image.tmdb.org/t/p/w500/{{ upcoming.poster_path }}" alt="{{ upcoming.title }}" class="img-fluid">
        <p class="text-center mt-2">{{ upcoming.title }} </p>
        <a href="#" class="btn btn-block btn-info mt-2" routerLink="/movie/{{upcoming.id}}">
          View Details
        </a>
      </div>
    </div>
    </div>
  </div>
</div>

<hr>

<!-- Popular Movies -->
<div class="row">
  <div class="col-sm-12">
    <h3>Popular Movies</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-3" *ngFor="let movie of popular_movies; let i = index">
    <div *ngIf="i < 8">
    <div class="card mt-2 mb-2">
      <div class="card-header text-center">
        {{ movie.title }}
      </div>
      <div class="card-body">
        <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="{{ movie.title }}" class="img-fluid">
        <a href="#" class="btn btn-block btn-info mt-2" routerLink="/movie/{{movie.id}}">
          View Details
        </a>
      </div>
    </div>
    </div>
  </div>
</div>
