<h2>Featured Actors</h2>

<div class="actors">
  <div class="row justify-content-around">
    <div *ngFor="let actor of actors" [class.selected]="actor === selectedActor" (click)="onSelect(actor)">
      <div class="col-lg-4">
        <a routerLink="/detail/{{actor.id}}">
          <img src="{{actor.actorimg}}">
        </a>
        <br>
        <div class="row justify-content-around">
          <div class="col-lg-4">
            {{actor.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
<app-actor-detail [actor]="selectedActor"></app-actor-detail>
